# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xccheckout
*.xcscheme
!default.xcscheme
*.moved-aside
*.xcuserstate
*.itunespackage
Config.xcconfig

# Native Project Folders
KomgaReaderAntigravity/
KomgaReaderAntigravity_Ex.xcodeproj/
KomgaReaderAntigravity_Ex.xcworkspace/
docs/
Podfile
Podfile.lock
Pods/

# CocoaPods
Pods/
Podfile.lock

# Secrets and Configs
.env
*.secret
Secrets.plist
AppConstants_Local.swift

# OS Files
.DS_Store

# WebApp
WebApp/node_modules/
WebApp/dist/
WebApp/public/models/
WebApp/public/sample/
WebApp/backend/
WebApp/Pipeline/
